    .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control {
        color: #fff;
        background: rgba(126, 31, 34,.3);
    }
    .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form {
        color: #fff;
    }
    .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
        color: #fff;
    }
    .m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link {
        color: #fff;
    }


/* Begin: Pemesanan/v_pemesanan */
    div.dt-buttons {
        position: absolute!important;
        float: left;
        right: 20px;
        bottom: 10px;
    }
    a.dt-button{
        color: #fff!important;
        background-color: #34bfa3!important;
        border-color: #34bfa3!important;
        background-image:none!important;
        /*btn*/
        display: inline-block!important;
        font-weight: normal!important;
        text-align: center!important;
        white-space: nowrap!important;
        vertical-align: middle!important;
        user-select: none!important;
        border: 1px solid transparent!important;
        padding: 0.65rem 1.25rem!important;
        font-size: 1rem!important;
        line-height: 1.25!important;
        border-radius: 0.25rem!important;
        transition: all 0.15s ease-in-out!important;
        /*end btn*/
    }
    a.dt-button:hover{
        background-color: #2ca189!important;
    }
/* End: Pemesanan/v_pemesanan*/


/* Begin: Produk/v_produk_fitur */
    .point{
        width: 20px;
        height: 20px;
        padding: 0;
        position: absolute;
        border-width: 5px;
        border-radius: 100%; 
    }

    .animate-point{
        width: 47px;
        height: 47px;
        padding: 0;
        opacity: 0;
        animation-duration: 1s;
        position: absolute;
        border-width: 5px;
        border-radius: 100%; 
    }

    .m-tooltip .tooltip-inner{
        color: #fff;
        background: #e74c3c;

        animation-iteration-count: infinite;
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .m-tooltip.bs-tooltip-top .arrow::before, .m-tooltip.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
        border-top-color: #e74c3c; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .m-tooltip.bs-tooltip-right .arrow::before, .m-tooltip.tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
        border-right-color: #e74c3c; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .m-tooltip.bs-tooltip-bottom .arrow::before, .m-tooltip.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
        border-bottom-color: #e74c3c; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .m-tooltip.bs-tooltip-left .arrow::before, .m-tooltip.tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before {
        border-left-color: #e74c3c; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
/* END: Produk/v_produk_fitur */


    @-webkit-keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }
     
    @-moz-keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }
     
    @-o-keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }
    @keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }