body{
	-webkit-font-family: roboto!important;
	-moz-font-family: roboto!important;
	-o-font-family: roboto!important;
	font-family: roboto!important;
}

/*Banner pop up*/
/*.box-banner-wanda {
    width: 140px;
    height: fit-content;
    position: absolute;
    left: 260px;
    top: 270px;
}*/
.box-banner-wanda {
    width: 26%;
    min-width: 115px;
    height: fit-content;
    position: absolute;
    left: 52.5%;
    top: 63%;
}
.box-banner-wanda .img-play {
    width: 70%;
    margin-top: 1.125rem;
}

.header-footer {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #DF031E !important;
}

.header-search {
    color: #ffffff;
    font-size: 20px;
}

.header-contact {
    font-size: 26px;
}

.header1-content {
    font-size: 20px;
    font-weight: 500;
}

.header2-content {
    font-size: 16px;
}

.header3-content {
    font-size: 12px;
}

/*navbar custom*/
.d-nav {
    background: linear-gradient(to right, #671e25 0%, #d20001 50%, #82181e 100%);
}
.navbar-dark .navbar-nav .nav-link{
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active{
    color: #400708 !important;
}
.search-desktop {
    border-radius: 0;
}
.search-nav{
    background-color: transparent;
}

#navhead_mobile{
    padding: 0rem 0rem; 
}
.navbar-header{
    color: #ffffff;
    background: linear-gradient(to right, #671e25 0%, #d20001 50%, #82181e 100%);
}
.menu-bar-button{
    border: 0px;
}
.nav-search {
    padding-top: 0.5rem;
    border-bottom: 1px solid #e3bac5;
}
.nav-search .input-group-prepend .input-group-text {
    padding: 0rem 0rem 0rem 0.5rem ;
    border: 0px;
    color: #949292;
    background-color: #ffffff;
}
.nav-search .form-control {
    font-size: 13px;
    border: 0px;
}
.nav-search .form-control::placeholder {
    color: #949292;
}
#navbarNavDropdownM .list-group {
    padding: 0rem 1rem 0rem 1rem;
}
#navbarNavDropdownM .list-group .list-group-item {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    color: #949292;
    padding: 0.20rem 0rem 0rem 0rem;
    border-bottom: 1px solid #e3bac5;
}
#navbarNavDropdownM .list-group .list-group-item.active {
    color: #2e2e2e !important;
    background-color: unset !important;
}
.text-dark-grey {
    color: #5f5f5f !important;
}
/*end navbar custom*/

.display-none{
    display: none;
}
.icon-wa{
    width: 230px;
    height: auto;
    padding-left: 7.5px;
    padding-right: 5px;
    color: #ffffff;
    border-radius: 1rem;
    background-color: #37bc4a;
}
.icon-wa:hover{
    background-color: #63d36d; 
}
.text-wa{
    margin-top: 0px;
}
@media only screen and (max-width: 767.99px) {
    .text-wa{
        margin-top: 2.5px;
    }
}

.loadmore {
    display:none;
}
.totop a {
    display: none;
}
.col-pc-5{
    flex: 0 0 5%;
    max-width: 5%!important;
}
.col-pc-10{
    flex: 0 0 10%;
    max-width: 10%!important;
}
.col-pc-20{
    flex: 0 0 20%;
    max-width: 20%!important;
}
.col-pc-35{
    flex: 0 0 35%;
    max-width: 35%!important;
}
.col-pc-60{
    flex: 0 0 60%;
    max-width: 60%!important;
}
.fs-12{
	font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
	font-size: 18px;
}

.footer-link{
	margin: 0 auto;
	max-width: 80%;
}
.bg-red-custom{
	background: rgb(193,1,1);
}

.bg-grey-custom{
    background: #b6b8ba;
}

.text-white-custom{
	color: #e8e8e8;
}
.pt-10{
	padding-top: 6rem;
}
.pb-10{
	padding-bottom: 6rem;
}
.pt-12{
	padding-top: 7rem;
}
.pb-12{
	padding-bottom: 7rem;
}
.pl-1{
	padding-left: 0.5rem!important;
}
.pr-1{
	padding-right: 0.5rem!important;
}
.pl-0{
	padding-left: 0px!important;
}
.pr-0{
	padding-right: 0px!important;
}
.display-none{
	display: none;
}
.label {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.col-fix-6{
	-webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}
.modal-custom{
	max-width: 90%;
}
.transparant-custom{
	background-color: transparent!important;
}
.no-border-custom{
	border: 0px!important;
}
/*-----------*/

/* Home */
.home-berita-utama{
	max-height: 212px;
	max-width: 100%;
	object-fit: cover;
}
.col-home-berita{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
/*------*/

/* produk */
/* Begin: Produk/v_produk_fitur */
    
    .lightbox .lb-image {
        border:0!important;
    }
    .lightboxOverlay{
        opacity: 1;
    }
    .lightbox .lb-outerContainer{
        background: transparent;
    }

    .point{
        width: 30px;
        height: 30px;
        padding: 0;
        position: absolute;
        border-width: 8px;
        border-radius: 100%; 
    }

    .animate-point{
        width: 70px;
        height: 70px;
        top: -20px;
        left: -5px;
        padding: 0;
        position: absolute;
        border-style: solid;
	    border-color: rgba(255, 235, 59, 1);
	    border-width: 8px;
        border-radius: 100%; 
        background-color: transparent; 
        animation: zoomin 1s infinite;
        -webkit-animation: zoomin 1s infinite;
        -moz-animation: zoomin 1s infinite;
        -o-animation: zoomin 1s infinite;
    }

    .tooltip-inner{
        color: #fff!important;
        background: #e74c3c!important;
        animation-iteration-count: infinite;
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .bs-tooltip-top .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
        border-top-color: #e74c3c!important; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .bs-tooltip-right .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
        border-right-color: #e74c3c!important; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .bs-tooltip-bottom .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
        border-bottom-color: #e74c3c!important; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
    .bs-tooltip-left .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before {
        border-left-color: #e74c3c!important; 
        animation: swing 0.5s;
        -webkit-animation: swing 0.5s;
        -moz-animation: swing 0.5s;
        -o-animation: swing 0.5s;
    }
/* END: Produk/v_produk_fitur */


    @-webkit-keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }
    @-moz-keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }
    @-o-keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }
    @keyframes swing {
        0% { transform: rotate(-4deg); }
        33% { transform: rotate(4deg); }
        66% { transform: rotate(-4deg); }
        100% { transform: rotate(0deg); }
    }

    @-webkit-keyframes zoomin {
        0% { transform: scale(0);opacity: 1; }
        50% { opacity: 1; }
        100% { transform: scale(1);opacity: 0; }
    }
    @-moz-keyframes zoomin {
        0% { transform: scale(0);opacity: 1; }
        50% { opacity: 1; }
        100% { transform: scale(1);opacity: 0; }
    }
    @-o-keyframes zoomin {
        0% { transform: scale(0);opacity: 1; }
        50% { opacity: 1; }
        100% { transform: scale(1);opacity: 0; }
    }
    @keyframes zoomin {
        0% { transform: scale(0);opacity: 1; }
        50% { opacity: 1; }
        100% { transform: scale(1);opacity: 0; }
    }

/*------*/

/* Home frontend - tambahan style.css*/
.news-mid-over{
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.news-mid-over .news-over{
    width: 99%;
    left: 2.5px;
}
.col-pc-20 .news-mid-over .news-over{
    width: 98%;
    left: 2.5px;
}
/*----------------*/
/* News frontend - tambahan style.css*/
.list-news .news-mid-over .news-over{
    width: 96%;
    max-height: 93.5%;
    left: 8px;
    bottom: 8px;
}
/*----------------*/

@media only screen and (max-width: 1199.99px) {
	/* Home */
	.home-berita-utama{
		max-height: 212px;
	}
	.news-mid-over .news-over{
	    width: 98.5%;
	    left: 2.5px;
	}
	.col-pc-20 .news-mid-over .news-over{
	    width: 98%;
	    left: 2.5px;
	}
	/*------*/
	/* News */
    .list-news .news-mid-over .news-over{
        width: 94.75%;
        max-height: 92.5%;
        left: 8px;
        bottom: 8px;
    }
    /*------*/
}

@media only screen and (max-width: 991.99px) {
	/* Home */
	.home-berita-utama{
		max-height: 198px;
	}
	.news-mid-over .news-over{
	    width: 98.4%;
	    left: 2.5px;
	}
	.col-pc-20 .news-mid-over .news-over{
	    width: 97.4%;
	    left: 2.5px;
	}
	/*------*/
	/* News */
    .list-news .news-mid-over .news-over{
        width: 92.75%;
        max-height: 90%;
        left: 8px;
        bottom: 8px;
    }
    /*------*/
}

@media only screen and (max-width: 767.99px) {
	/* Home */
	.home-berita-utama{
		max-height: 146px;
	}
	.news-mid-over .news-over{
	    width: 98%;
	    left: 2.5px;
	}
	.col-pc-20 .news-mid-over .news-over{
	    width: 96.5%;
	    left: 2.5px;
	}
    .g-recaptcha{
        transform:scale(0.77)!important;
        -webkit-transform:scale(0.77)!important;
        transform-origin:0 0!important;
        -webkit-transform-origin:0 0!important;
    }
	/*------*/
    /* Produk */
    .judul-produk-res{
        font-size: 14px;
    }
    .harga-produk-res{
        font-size: 16px;
    }
    /*------*/
    /* News */
    .list-news .news-mid-over .news-over{
        width: 91%;
        max-height: 87%;
        left: 8px;
        bottom: 8px;
    }
    /*------*/
}

@media only screen and (max-width: 575.99px) {
	/* Home */
	.home-berita-utama{
		max-height: 317px;
	}
	.col-home-berita{
        position: relative;
        max-width: 100%;
        flex: 0 0 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .g-recaptcha{
        transform:scale(0.70)!important;
        -webkit-transform:scale(0.70)!important;
        transform-origin:0 0!important;
        -webkit-transform-origin:0 0!important;
    }
	/*------*/
    /* Produk */
    .judul-produk-res{
        height: 38px;
        font-size: 12px;
    }
    .harga-produk-res{
        font-size: 14px;
    }
    /*------*/
}
.redBlood
{
    height: 100%;
    width: 100%;
    background-color: rgb(192,24,34,0.6);
}
.shitWord
{
    color: #6d6e71;
    font-size: 17px;
}
.litleBlackWord
{
    font-size: 18px;
}
.litleShitWOrd
{
    padding-top: 10px;
    font-size: 14px;
    color: #6d6e71;
}

/* Custom Data Table*/
table.dataTable thead th, table.dataTable thead td {
    padding: .75rem; 
    border-bottom: 0px solid #111; 
}
table.dataTable tbody tr {
    background-color: #e0e1e2;
}
table.dataTable.no-footer {
    border-bottom: 0px solid #111;
}
[type=search] {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dataTables_wrapper .dataTables_filter{
    display: none;
}
.dataTables_wrapper .dataTables_filter [type=search]:focus{
    border: 1px solid #80bdff;
}
.dataTables_wrapper .dataTables_length select {
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
/*================*/

/* CUSTOM CSS BUAT MENU DROPDOWN BERITA */
.dropdown-item-custom{
    color: #ffffff !important;
}

.dropdown-item-custom:hover{
    background-color: #343a40 !important;
}

/* CUSTOM CSS BREADCRUMB */
.breadcrumb-custom {
    position: absolute;
    z-index: 99;
    color: #454545;
    width: 100%;
    background: rgba(99,99,99,0.5);
    font-size: 12px;
}
.breadcrumb-custom .breadcrumb-item a {
    color: #333333;
}