    .popover{
        border: 0;
        padding: 0;
        color: #6f727d;
        background: white;
        border-radius: 4px;
        -webkit-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.25);
        -moz-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.25);
        box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.25);
    }
    .popover:before {
        display: none; }
    .popover.bs-popover-top .arrow::after, .popover.bs-popover-auto[x-placement^="top"] .arrow::after {
        border-top-color: white; }
    .popover.bs-popover-right .arrow::after, .popover.bs-popover-auto[x-placement^="right"] .arrow::after {
        border-right-color: white; }
    .popover.bs-popover-bottom .arrow::after, .popover.bs-popover-auto[x-placement^="bottom"] .arrow::after {
        border-bottom-color: white; }
    .popover.bs-popover-left .arrow::after, .popover.bs-popover-auto[x-placement^="left"] .arrow::after {
        border-left-color: white; }
    .popover .arrow:before {
        border: 0; 
    }    
    .popover .popover-header {
        color: #575962;
        background: #ffffff; 
        padding: 12px 15px;
        font-weight: 400;
        border: 0;
        -webkit-border-top-left-radius: 4px;
        -moz-border-top-left-radius: 4px;
        -ms-border-top-left-radius: 4px;
        -o-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-top-right-radius: 4px;
        -ms-border-top-right-radius: 4px;
        -o-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    .popover .popover-body{
        color: #6f727d;
        padding: 12px 15px;
        font-size: 1rem;
        font-weight: 300;
    }
    .popover.show {
        opacity: 1 ;
        filter: alpha(opacity=100) ; }