
@media only screen and (max-width: 1199.99px) {
    .sosial-media {
        text-align: right;
    }
    /*.prev {
        left: -24px;
    }
    .next {
        right: -23px;
    }*/

    .image-feature-res{
        display: block;
    }

    .image-map{
        display: none;
    }

}


@media only screen and (max-width: 991.99px) {
    .dropdown-submenu>.dropdown-menu {
        margin-top: 0;
        margin-left: 0;
    }
    /*.prev {
        left: -17px;
    }
    .next {
        right: -17px;
    }*/
    .t-md{
        margin-top: 15px;
    }
    #img-thumn {
        position: relative;
    }
    .item-thumn {
        float: left;
        margin-right: 10px;
    }
    .action-btn {
        width: 80%;
    }
    #preview {
        width: 100%;
        margin-left: auto;
    }
    .d-nav{
        display: none;
    }
    .m-nav{
        display: block;
    }
    .nav-justified .item-non-justify{
        flex-basis: auto;
    }
}


@media only screen and (max-width: 767.99px) {
    .space-head{
        margin-top: 15px;
    }
    .page-item{
        display: none;
    }
    .page-item.first, .page-item.prev, .page-item.active, .page-item.next, .page-item.last{
        display: block;
    }
    /*.prev {
        left: -14px;
    }
    .next {
        right: -14px;
    }*/
    .t-xs{
        margin-top: 15px;
    }
    .icon-fea{
        width: 97px;
        margin: auto;
    }

    .col-md-3.pr-0{
        padding-right: 15px !important;
    }
    .center-md{
        text-align: center;
    }
    .left-article-md{
        padding: 10px 15px;
    }
    .form-order-ride {
        width: 92%;
    }

    .spesikasi {
        width: 100%;
    }
    .content-spesifikasi{
        width: 100%;
    }
    .nav-prod{
        width: 100%;
    }
    .navbar.navbar-expand-md.navbar-dark.bg-red.nav-line {
        padding:0;
    }
    .nav-broch-act {
        padding-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px #b42e2e solid;
    }

    .faq{
        width: 90%;
    }
}

@media only screen and (max-width: 575.99px) {
    .oneheart {
        width: 134px;
        height: auto;
        margin-right: 20px;
        float: right;
        margin-top: 8px;
    }
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        width: 100%;
    }
    .item-thumn {
        float: left;
        margin-right: 10px;
        width: 70px;
    }
    .news-over{
        position: relative;
        background-color: transparent;
    }
    .content-news-over{
        color: #000;
        position: relative;
        text-align: left;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
    }
    .news-mid-over:hover .news-over{
        height: 70px;
    }
    .img-over{
        padding-left: 15px !important;
    }
    .bt-spc{
        margin-bottom: 15px;
    }
    .d-hide{
        display: inline;
    }
    .m-hide{
        display: none;
    }
}
