
h2{
    color: #58595B;
    font-size: 1.75rem;
}


h1{
    color: #000;
    font-size: 34px;
}



a{
    color: #000;
}
a:hover{
    color:  #DF031E;
    text-decoration: none;
}

.btn:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.bg-red {
    background: #DF031E;
}

.bg-black {
    background: #000;
}

.bg-red2 {
    background: #E40001;
}

.bg-grad-red {
    background: #671e25; /* Old browsers */
    background: -moz-linear-gradient(left, #671e25 0%, #e00102 50%, #671e25 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #671e25 0%,#e00102 50%,#671e25 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #671e25 0%,#e00102 50%,#671e25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#671e25', endColorstr='#671e25',GradientType=1 ); /* IE6-9 */
}

.bg-white {
    background: #fff !important;
}

.bg-grey {
    background: #DEDFE0 !important;
}

.bg-grey-2 {
    background: #cbcdce !important;
}

.text-12{
    font-size: 12px;
}

.text-14{
    font-size: 14px;
}

.text-16{
    font-size: 16px;
}

.text-18{
    font-size: 18px;
}

.text-23{
    font-size: 23px;
}

.text-30{
    font-size: 30px;
}

.text-red{
    color: #DF031E;
}

.text-grey{
    color: #808080;
}

.btn-flat-red {
    color: #fff;
    background-color: #DF031E;
    border-radius: 0;
}

.btn-flat-red:hover {
    color: #fff;
    background-color: #9f0014;
    border-radius: 0;
    text-decoration: none;
}

.btn-flat-dark {
    color: #fff;
    background-color: #231F20;
    border-radius: 0;
}

.btn-flat-dark:hover {
    color: #fff;
    background-color: #120f10;
    border-radius: 0;
    text-decoration: none;
}

.btn-flat-white {
    color: #231F20;
    background-color: #fff;
    border-radius: 0;
}

.btn-flat-white:hover {
    color: #fff;
    background-color: #DF031E;
    border-radius: 0;
    text-decoration: none;
}

.btn-flat-grey {
    color: #fff;
    background-color: #777777;
    border-radius: 0;
}

.btn-flat-grey:hover {
    color: #fff;
    background-color: #393939;
    border-radius: 0;
    text-decoration: none;
}

.no-padding{
    padding:0 !important;
}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    width: 130px;
    height: auto;
}

.oneheart {
    width: 186px;
    height: auto;
    margin-right: 20px;
    float: right;
}

.btn-search {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: #fff;
}

.bg-dark{
    background-color: #2A2A2A !important;
}

.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    color: #DF031E;
}

.navbar-dark.bg-red .navbar-nav .nav-link:hover, .navbar-dark.bg-red .navbar-nav .nav-link.active {
    color: #000;
}

.dropdown-menu{
    border: 0;
    border-radius: 0;
    top: 95.3%;
    left: auto;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -4px;
    margin-left: 0;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu, .dropdown-menu.multi-level {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu .dropdown-item{
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu .dropdown-item:hover{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DEDFE0;
}

.dropdown-menu .dropdown-item a{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

.dropdown-menu .dropdown-item a:hover{
    text-decoration: none;
    color: #DF031E;
}

.breadcrumb-item a {
    color: #808080;
}

.breadcrumb-item.active, .breadcrumb-item a:hover {
    color: #414042;
    text-decoration: none;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: transparent;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-weight: 600;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-left:hover, .nav-link.menu-list.news-link:hover, .nav-link.menu-list.news-link.active {
    color: #DF031E;
    background-color: transparent;
    border-color: transparent;
}

.tab-content {
    background: #fff;
    padding: 17px 19px;
}

.cc-side{
    margin-top: 2.6rem !important;
    padding: 16px 21px;
}

.item-thumn {
    width: 96px;
    border: 1px #cecece solid;
    margin-bottom: 8px;
}

.nav-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*.prev {
    position: absolute;
    left: -27px;
    cursor: pointer;
    top: 11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.next {
    position: relative;
    cursor: pointer;
    float: right;
    right: -28px;
    top: 11px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.prev, .next{
    background-color: rgba(34, 30, 31, 0.5);
    padding: 15px 6px;
    color: #fff;
}*/

#img-thumn {
    position: absolute;
}

#preview{
    width: 80%;
    margin-left: auto;
}

.aksesoris {
    padding-top: 10px;
    width: 95%;
    margin: auto;
}

.footer-container{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-container h3{
    font-size: 16px;
    font-weight: 700;
}

.footer-container .nav-link{
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #fff;
}

.footer-container .nav-link:hover{
    color: #aaaaaa;
}

.footer-container p{
    color: #fff;
    font-size: 12px;
}

.footer-container hr{
    border-color: #fff;
}


.sub-foo{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    margin: auto;
    font-size: 13px;
}


.promo-banner{
    color: #231F20;
    background-color: #fff;
    border-radius: 0;
}
.promo-banner:hover{
    color: #fff;
    background-color: #DF031E;
    border-radius: 0;
    text-decoration: none;
}

.desc-promo{
    padding: 7px 15px;
}

.btn-arrow {
    position: absolute;
    right: 30px;
    margin-top: 4px;
}


.prev-slide {
    position: absolute;
    left: 0;
    cursor: pointer;
    top: 11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.next-slide {
    position: relative;
    cursor: pointer;
    float: right;
    right: 0;
    top: 11px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.prev-slide, .next-slide{
    background-color: rgba(34, 30, 31, 0.5);
    padding: 15px 6px;
    color: #fff;
}

.dots-container{
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.action-btn {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-danger{
    background-color: #DF031E;
}

.nav-filter {
    color: #8B8D90;
}

.nav-filter:hover, .nav-filter.active {
    color: #DF031E;
}

.nav-link.nav-filter:first-child {
    padding-left: 0 !important;
}

.product-list{
    background: #fff;
    padding:21px 15px;
    text-align: center;
    margin-bottom: 20px;
}

.bg-feature{
    background: url('../img/BG-2.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-tit {
    padding: 5px 26px;
    color: #fff;
    font-size: 16px;
}

.short-desc, .pd-general{
    padding: 15px 17px;
}


.owl-nav.nav-container-news {
    position: absolute;
    top: 0;
    right: 0;
    top: -56px;
}

.prev-news, .next-news{
    background: transparent !important;
    color: #DF031E !important;
}

.title-sub-cart{
    background: #2A2A2A;
    padding: 5px 20px;
    color: #fff;
}

.detail-right {
    background: #fff;
    padding: 8px 20px;
    border-bottom: 1px #cecece solid;
}

.available{
    color: #39AD4A;
}

.btn-number{
    border-radius: 0;
}

.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}

.slide .slider-track{
    background-image: linear-gradient(to bottom, #DF031E 0%, #DF031E 100%);
    border: 2px #fff solid;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.77);
}

.slide .slider-selection{
    background-image: linear-gradient(to bottom, #414042 0%, #414042 100%);
}

.slide .slider-handle{
    background-image: linear-gradient(to bottom, #2A2A2A 0%, #2A2A2A 100%);
    border: 2px #fff solid;
}

.nav-tabs .nav-left{
    background: #fff;
    color: #1d1d1d;
}

.tab-list{
    border: 1px #cecece solid;
    border-bottom: 0;
    padding: 10px 35px;
}

.tab-list:last-child{
    border-bottom: 1px #cecece solid;
}

.gso-logo {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.gso-btn{
    text-align: center;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #E71C24;
}

.gso-btn:hover{
    background-color: rgba(34, 30, 31, 0.4) !important;
    color: #fff;
    text-decoration: none;
}

.gcolor-1{
    background: rgba(0, 0, 0, 0.51);
}

.gcolor-2{
    background: #414042;
}

.gcolor-3{
    background: #58595B;
}

.gcolor-4{
    background: #6D6E71;
}

.form-order-ride{
    width: 700px;
    margin: auto;
}

.form-order{
    padding: 20px 30px;
}

.product-list-aks{
    border: 1px #cecece solid;
    padding: 15px 15px;
    color: #414042;
}

.product-list-aks:hover{
    text-decoration: none;
    color: #414042;
    box-shadow: 0 0 4px 1px rgba(204,204,204,.48);
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    margin-bottom: 20px;
}

.list-group-item:first-child, .page-item:first-child .page-link{
    border-radius: 0;
}

.list-group-item{
    border: 0;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color: #000;
}

.list-group-submenus{
    padding-left: 20px;
}

.page-link{
    background-color: transparent;
    border: 1px solid #777777;
    color: #777777;
    margin-left: 5px;
    padding: 0.3rem 0.6rem;
}

.page-item.active .page-link, .page-item .page-link:hover {
    z-index: 1;
    color: #fff;
    background-color: #DF031E;
    border-color: #DF031E;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.list-group-item:hover, .list-group-item.active{
    color: #DF031E;
}

.event{
    background: url('../img/event.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0;
}

.month-event{
    background: #fff;
    border: 1px #cecece solid;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.month-event:hover, .month-event.active{
    background: #DF031E;
    border: 1px #DF031E solid;
    color: #fff;
}


.event-banner{
    color: #231F20;
    background-color: #fff;
    border-radius: 0;
    padding: 7px 15px;
    padding-top: 50px;
    padding-bottom: 0;
}
.event-banner:hover{
    color: #fff;
    background-color: #DF031E;
    border-radius: 0;
    text-decoration: none;
}

.desc-event{
    background-color: #414042;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding: 7px 15px;
    color: #fff;
}

.small-title{
    font-size: 20px;
}

.separate-line{
    border: 2px #E40001 solid;
    width: 67px;
    margin-left: 0;
    margin-top: 0;
}

.line-white{
    border: 2px #fff solid;
}

.news, .row-over{
    position: relative;
}



.overlay, .news-over {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #231F20;
    overflow: hidden;
    width: 100%;
    height: 70px;
    transition: .5s ease;
    opacity: 0.8;

}


.overlay-mid:first-child{
    left: 0;
    right: 0;
    width: 93.4444%;
}

.news:hover .overlay{
    height: 100%;
}

.news-mid-over:hover .news-over{
    height: 100%;
}

.content-news, .content-news-over {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-12%, -50%);
    -ms-transform: translate(-12%, -50%);
    text-align: center;
}

.container-mid-news{
    padding-left: 0;
    padding-right: 0;
}

.row-mid-news{
    margin-left: 0;
    margin-right: 0;
}
.img-over:first-child{
    padding-right: 12px;
}
.img-over:last-child{
    padding-left: 12px;
}
.padding-news{
    padding-left: 0;
}
.text-sz-12{
    font-size: 12px;
}
.content-news-mid{
    left: 28%;
    transform: translate(-20%, -50%);
}

.btn{
    border-radius: 0;
}


.menu-list{
    border-bottom: 2px transparent solid;
    padding: 20px 15px;
}

.menu-list:hover, .menu-list.active{
    border-bottom: 2px #eb1c24 solid !important;
}

.menu-list.disabled{
    color: #21252f !important;
    padding-left: 0 !important;
}

.menu-list.disabled:hover{
    border-bottom: 2px transparent solid !important;
    background-color: transparent !important;
}

.nav-tabs .nav-tab-link{
    color: #df031e;
    background-color: #transparent !important;
    border-color: transparent;
}

.bg-dark-grey{
    background-color: #414042;
}

.btn-dark{
    background-color: #414042;
}

.btn-round{
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


.navbar .full-dropdown {
    position: static !important;
}

.navbar .full-dropdown .product-dropdown{
    left: 133px;
    min-height: 219px;
    background-color: #B6B8BA;
}

.submenu {
    left: 160px !important;
    margin-top: -4px;
    position: absolute !important;
    top: 4px !important;
    width: 900px;
    background-color: #fff !important;
    padding-top: 20px;
    min-height: 219px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.d-nav{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .full-dropdown .dropdown-menu.show .horizontal-menu {
    float: left;
    display: inline;
}

.dropdown-item.dropdown-toggle {
    background: #B6B8BA;
    color: #fff;
}

.dropdown-item.dropdown-toggle:hover, .dropdown-item.dropdown-toggle.active  {
    background: #414042;
    color: #fff;
}

.togle-sub:after{
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.nav-item a{
    font-size: 12px;
}

.m-nav{
    display: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu-bar{
    color: #fff;
}

#sidebar {
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: #343A40;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    width: 0;
    top: 0;
    color: #c6c6c6;
    padding-top: 10px;
    z-index: 99999;
}
#sidebar.in {
    width: 270px;
    overflow-y: scroll;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.73);
}

.list-group-item:hover, .list-group-item.active{
    color: #F9F102;
}

.close-btn{
    font-size: 23px;
    float: right;
}

.list-group-item.sub-list {
    padding-left: 27.5px;
}

.list-group-item.sub-sub-list {
    padding-left: 40px;
}

.search-nav{
    width: 267px;
    margin-top: 13px;
}

.right-carret{
    float: right;
    /*update alt*/
    /*margin-top: -19px;*/
    /**/
}

.owl-theme .owl-dots .owl-dot span{
    background: transparent;
    border: 2px #a7a7a7 solid;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #df031e;
    border: 2px #df031e solid;
}

.spesikasi {
    width: 850px;
}
.content-spesifikasi{
    width: 700px;
}

.nav-tabs .nav-related-link {
    color: #8c8c8c;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-tabs .nav-related-link.active, .nav-tabs .nav-related-link:hover{
    color: #231F20;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: transparent;
}

.head-related, .body-related{
    border: 1px #CBCDCE solid;
}

.d-hide{
    display: none;
}

.nav-broch-act{
    font-weight: 700;
    text-align: center;
}

.honda-genue{
    background: url('../img/honda-genue.png') no-repeat right center;
    height: 50px;
    background-size: contain;
}

.title-news{
    font-size: 16px;
    font-weight: 500;
}

.date-news{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
}

.caption{
    padding: 10px;
}

.content{
    height: 100%;
}

.row-eq-height > [class^=col] {
  display: flex;
  flex-direction: column;
}

.row-eq-height > [class^=col]:first-of-type {
  display: flex;
}

.row-eq-height > [class^=col]:first-of-type .black {
  flex-grow: 1;
}

.page-item.page {
    padding-top: 4px;
    padding-left: 7px;
}
.nav-link.menu-list.news-link {
    padding-bottom: 8px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.45);
}

.breadcrumb{
    background-color: transparent;

}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item.active, .breadcrumb-item a:hover {
    color: #777777;
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.btn-trans-red{
    color: #df031e;
}

.other-news-list {
    padding: 10px;
    border-bottom: 1px #777777 solid;
}

.img-comment {
    width: 70px;
}
.breadcrumb-item.default a {
    color: #989898;
}
.breadcrumb-item.default.active a {
    color: #6c6c6c;
}

.breadcrumb-item.default + .breadcrumb-item.default::before {
    content: "/";
}

.content-promo{
    color: #989898;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background: #df031e;
    color: #fff;
}


table tr {

    border-collapse: collapse;
    background: #e0e1e2;
}

.peta{
    background: #fff;
}

.peta:nth-child(odd){
    background: #df031e;
    color: #fff;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.sticky + .content {
  padding-top: 60px;
}

/*.d-nav .collapse ul li:hover> ul{display:block} */

.d-nav .nav-link{
    padding: 1rem;
}

@media only screen and (max-width: 991px) {
    .btco-hover-menu .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 991px) {
    .d-nav .collapse ul li:hover> ul{display:block}
    .d-nav .collapse ul ul{position:absolute;display:none}
}

.submenu.hovered {
    display: block !important;
}

.menu-mega {
    min-height: 441px;
    background-color: #b6b8ba;
}

.submenu{
    min-height: 441px;
}

.image-map{
    position: relative;
}

.point{
    background-color: #231f20;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 8px solid #f5aa40;
    border-radius: 50%;
}

.share-ico{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.share-ico.fb{
    background: url('../img/facebook_circle-512.png')no-repeat center center;
    background-size: 30px;
}

.share-ico.gp{
    background: url('../img/Google-plus-circle-icon-png.png')no-repeat center center;
    background-size: 30px;
}
.share-ico.tw{
    background: url('../img/tw.png')no-repeat center center;
    background-size: 30px;
}

.share{
    width: 0;
    background: #fff;
    float: left;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.share.in{
    width: 70%;

}

.image-feature-res{
    display: none;
}

.faq{
    width: 60%;
}

.card-header{
    background: #e40001;
    color: #fff;
}
.card-header::before {

    content: "+";
    position: absolute;
    right: 12px;
    top: -5px;
    font-size: 31px;

}